{% extends 'base.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}
    <h1>Reclamation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reclamation.id }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ reclamation.categorie }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ reclamation.statut }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reclamation.description }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ reclamation.dateCreation ? reclamation.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Réponses :</h2>
    {% if reclamation.reponses|length > 0 %}
        <ul>
            {% for reponse in reclamation.reponses %}
                <li>
                    <p>{{ reponse.contenu }}</p>
                    <small class="text-muted">{{ reponse.dateCreation ? reponse.dateCreation|date('d/m/Y H:i') : 'Date inconnue' }}</small>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucune réponse pour cette réclamation.</p>
    {% endif %}

    <a href="{{ path('app_reclamation_index') }}">back to list</a>

    <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">edit</a>

    {{ include('reclamation/_delete_form.html.twig') }}
{% endblock %}
